

.register-section {
    width: 80vw;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-section h2, span{
    padding: 0.5rem 0;
}

.register-section input {
    border: none;
    padding: 1rem;
    margin: 0.25rem 0;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--link-color);
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
}

.facebook-input::placeholder { color: #0074EE; }

.facebook-input:hover {
    cursor: pointer;
    background-color: #0074EE;
    color: white;
}

.phone-input:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.email-input:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.google-input::placeholder { color: var(--primary) };
.google-input:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.phone-and-email {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.phone-and-email input {
    width: 48%;
    font-size: 1.5rem;
}