.cart {
    background-color: var(--primary);
    color: white;
    border-radius: var(--main-border-radius);
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.cart-header {
    background-color: var(--primary);
    border-bottom: 2px solid white;
    margin: 10px 0;
}

.cart-body {
    padding: 0.5rem 0.2rem;
}

.cart-component-img {
    padding: 0.5rem 0.2rem;
}