.card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    font-weight: 500;
    width: 70vw;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .card-section { flex-direction: column; align-items: center; }
    .card-section .card-content { margin: 10px 0; width: 70vw;}
}