.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    width: 96vw;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .header__link__buttons { margin: 10px 0; }
}   

.header__link__buttons { display: flex; }

.btn__criar_conta a { color: var(--primary); }
.btn__criar_conta { margin-right: 10px; }

.btn__entrar { margin-right: 10px; background-color: var(--primary); }
.btn__entrar a { color: var(--white); }

img {
    width: 100px;
    height: 60px;
}

.cart img {
    border: 1px solid var(--primary);
    border-radius: var(--main-border-radius);
}