.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65vw;
    margin: 1rem auto;
}

@media screen and (max-width: 800px) {
    .carousel { 
        width: 70vw;
        flex-direction: row; 
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .carousel { 
        width: 100vw;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
}