.footer {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    width: 100vw;
}

.footer a {
    color: var(--secondary);
    font-weight: 500;
}